@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto:wght@500&display=swap");

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  @include tab {
    max-width: 920px;
  }
  @include phone {
    max-width: 743px;
  }
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: black;
  }
}
h4 {
  font-weight: normal;
  margin-bottom: 8px;
}
time {
  font-size: 14px;
  color: $time;
}
