$primary: #aa0601;
$secorday: #650300;
$other: #fbf2f2;
$shadow: #dee2e6;
$time: #707070;
$pink: #fbf2f2;

@mixin df-jcsb {
  display: flex;
  justify-content: space-between;
}

@mixin h2($size: 48px, $color: $primary, $mb: 0) {
  font-size: $size;
  color: $color;
  margin-bottom: $mb;
}

@mixin h3($size: 24px, $color: $secorday, $style: normal, $mb: 0) {
  font-size: $size;
  color: $color;
  font-style: $style;
  margin-bottom: $mb;
}

@mixin home--recommend-name {
  padding: 16px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 6px $shadow;
  @include df-jcsb;
  flex-direction: column;
  height: 205px;
}

@mixin section--contain_contactUs-form-input {
  margin-bottom: 16px;

  input {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    margin-top: 8px;
    background-color: transparent;
  }
}

@mixin tab {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

.p-3 {
  padding-left: -12px;
  padding-right: -12px;
}
.input {
  width: 100%;
  background-color: transparent;
  padding: 6px 0 6px 12px;
  border: 1px solid #000000;
  margin: 8px 0 16px 0;
}
.opinion {
  resize: none;
  min-height: 136px;
}
.checkbox {
  margin: 0px 4px 0 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #000000;
  accent-color: #aa0601;
}
