@mixin df-jcsb {
  display: flex;
  justify-content: space-between;
}

@mixin h3($size: 48px, $color: $primary, $mb: 0) {
  font-size: $size;
  color: $color;
  margin-bottom: $mb;
}

@mixin h4($size: 24px, $color: $secorday, $style: normal, $mb: 0) {
  font-size: $size;
  color: $color;
  font-style: $style;
  margin-bottom: $mb;
}

@mixin home--recommend-name {
  padding: 16px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 6px $shadow;
  @include df-jcsb;
  flex-direction: column;
  // 這邊使用fxdc+jcsb，就會需要添加高度，jcsb才會有作用，請問有更好的寫法嗎?
  height: 205px;
}

@mixin section--contain_contactUs-form-input {
  margin-bottom: 16px;
  input {
    width: 100%;
    padding: 6px 12px;
    outline: none;
    margin-top: 8px;
    background-color: transparent;
  }
}
@mixin px-0 {
  padding-left: 0;
  padding-right: 0;
}

@mixin tab {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}
.d-f {
  display: flex;
}

.opinion {
  resize: none;
  min-height: 136px;
}

.product-bd {
  margin-right: 8px;
  background: $product-bd;
  accent-color: $product-bd;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid $product-bd;
  display: inline-block;
}
.product-bl {
  margin-right: 8px;
  background: $product-bl;
  accent-color: $product-bl;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid $product-bl;
  display: inline-block;
}
