<footer>
  <div class="container footer--nav">
    <div class="footer--nav_samll">
      <ul class="footer--nav_samll_ul d-f">
        <li class="footer--nav_samll_ul_list">
          <a href="index.html" class="footer--nav_samll_ul_link">首頁</a>
        </li>
        <li class="footer--nav_samll_ul_list">
          <a href="series_frame.html" class="footer--nav_samll_ul_link"
            >系列鏡框</a
          >
        </li>
        <li class="footer--nav_samll_ul_list">
          <a href="store_stronghold.html" class="footer--nav_samll_ul_link">門市據點</a>
        </li>
        <li class="footer--nav_samll_ul_list">
          <a href="blog.html" class="footer--nav_samll_ul_link">部落格</a>
        </li>
        <li class="footer--nav_samll_ul_list">
          <a href="common_problem.html" class="footer--nav_samll_ul_link">常見問題</a>
        </li>
      </ul>
      <ul class="footer--nav_samll_contact">
        <li class="d-f">
          <a href="tel:+" class="footer--nav_samll_contact_link">
            <span
              class="footer--nav_samll_contact_icon material-icons-outlined"
            >
              call
            </span>
            0800-000-00
          </a>
        </li >
        <li class="d-f">
          <a href="mailto:" class="footer--nav_samll_contact_link">
            <span
              class="footer--nav_samll_contact_icon material-icons-outlined"
            >
              email
            </span>
            glasses@business.com
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer--nav_img d-f">
      <li>
        <a href="#" class="footer--nav_img_link"
          ><img src="../assets/images/ic-social-fb.png" alt="icon_fb"
        /></a>
      </li>
      <li>
        <a href="#" class="footer--nav_img_link"
          ><img src="../assets/images/ic_social_ig.png" alt="icon_ig"
        /></a>
      </li>
      <li>
        <a href="#" class="footer--nav_img_link"
          ><img src="../assets/images/ic_social_line.png" alt="icon_line"
        /></a>
      </li>
    </ul>
    </div>
    <div class="container">
    <hr class="footer--hr_white" />
    <div class="footer--contain">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="footer--contain_list d-f">
        <li><a href="#" class="footer--contain_link">隱私權政策</a></li>
        <li><a href="#" class="footer--contain_link">服務條款</a></li>
      </ul>
    </div>
    </div>
    
  </div>
</footer>
