footer {
  background-color: $primary;
  padding: 48px 0 32px 0;
  @include tab {
    padding: 48px 0 40px 0;
  }
  @include phone {
    padding: 24px 0;
  }
}
.footer--nav {
  @include df-jcsb;
  &_samll {
    &_ul {
      margin-bottom: 24px;
      &_link {
        display: block;
        padding: 12px 48px 12px 0;
      }
    }
    &_contact {
      font-size: 36px;
      li:first-child {
        margin-bottom: 8px;
      }
      &_icon {
        font-size: 36px;
        padding: 6px;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }
  &_img {
    &_link {
      display: block;
      max-width: 48px;
      max-height: 48px;
      margin-left: 32px;
    }
  }
  @include tab {
    &_samll {
      &_ul {
        &_link {
          padding: 8px 48px 8px 0;
        }
      }
    }
    &_img {
      &_link {
        max-width: 40px;
        max-height: 40px;
        margin-left: 16px;
      }
    }
  }
  @include phone {
    &_samll {
      &_ul {
        display: none;
        margin-bottom: 24px;
      }
      &_contact {
        font-size: 16px;
        &_icon {
          font-size: 24px;
          padding: 3px;
          vertical-align: middle;
          margin-right: 8px;
        }
      }
    }
    &_img {
      &_link {
        max-width: 24px;
        max-height: 24px;
        margin-left: 8px;
      }
    }
  }
}
.footer--hr_white {
  margin: 32px 0;
}
.footer--contain {
  color: #fff;
  @include df-jcsb;
  &_link {
    font-size: 14px;
    display: block;
    padding: 1px 0 1px 48px;
  }
  @include phone {
    flex-direction: column;
    &_list {
      flex-direction: column;
    }
    &_link {
      font-size: 16px;
      padding: 8px 0 0 0;
    }
  }
}
