header {
  background: $primary;
  padding: 16px 0;
  @include phone {
    padding-bottom: 0;
  }
}
.nav {
  @include df-jcsb;
  &--logo_img {
    display: block;
    width: 80px;
    height: 48.57px;
    background: center/cover no-repeat url(../images/logo-white.png);
  }
  &--ul {
    &_link {
      display: block;
      font-size: 20px;
      padding: 9px 0 9px 32px;
    }
  }
  @include phone {
    flex-direction: column;
    @include px-0;
    &--logo_img {
      margin: 0 0 15px 15px;
    }
    &--ul {
      flex-wrap: wrap;
      &_list {
        width: 50%;
        border: 1px solid white;
      }
      &_link {
        padding: 12px 0;
        text-align: center;
      }
    }
  }
}
