/* * {
  outline: 1px solid red;
} */
.problem--title {
  padding-bottom: 80px;
  h3 {
    font-size: 24px;
    padding-bottom: 24px;
    font-weight: bold;
  }
  &_list {
    width: 66.04%;
    flex-direction: column;
    gap: 32px;
    h4 {
      font-size: 20px;
      margin-bottom: 8px;
      font-weight: bold;
    }
  }
  @include tab {
    &_list {
      width: 100%;
    }
  }
  @include phone {
    padding-bottom: 64px;
    &_list {
      gap: 24px;
    }
  }
}
