.home--banner {
  background: center/cover no-repeat url(../images/home-header.png);
  padding: 296px 0;
  text-align: right;

  p {
    font-size: 36px;
    color: $secorday;
  }

  h1 {
    font-size: 64px;
    color: $secorday;
    margin-bottom: 4px;
  }

  a {
    font-size: 20px;
    background-color: $primary;
    padding: 6px 12px;
    display: inline-block;
  }

  @include tab {
    background: center/cover no-repeat url(../images/home-header-sm.png);
  }

  @include phone {
    background: center/cover no-repeat url(../images/home-header-sm.png);
    padding: 144px 0;

    p {
      font-size: 16px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
}

.home--major {
  background-color: #fbf2f2;
  padding: 80px 0;
  text-align: center;

  h2 {
    @include h2(48px, $secorday, 24px);
  }

  &_list {
    display: flex;
    gap: 24px;

    li {
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
      }

      h3 {
        @include h3(24px, $secorday, normal, 8px);
      }

      p {
        text-align: left;
      }
    }
  }

  @include tab {
    &_list {
      flex-wrap: wrap;
      justify-content: center;

      li {
        max-width: 48.276%;
      }
    }
  }

  @include phone {
    padding: 40px 0;

    h2 {
      font-size: 24px;
      margin-bottom: 32px;
    }

    &_list {
      li {
        max-width: 100%;

        img {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.home--classic {
  padding: 80px 0;
  text-align: center;

  h2 {
    @include h2(48px, $secorday, 48px);
  }

  &_list {
    display: flex;
    gap: 24px;
    li {
      text-align: center;

      img {
        width: 416px;
        max-height: 416px;
        margin-bottom: 8px;
      }

      h3 {
        @include h3(48px, $primary, italic, 0);
        font-weight: bold;
      }
    }
  }

  @include tab {
    &_list {
      flex-direction: column;
      align-items: center;

      li {
        max-width: 48.276%;
      }
    }

    @include phone {
      padding: 40px 0;
      h2 {
        font-size: 24px;
        margin-bottom: 24px;
      }
      &_list {
        max-width: 100%;
        li {
          max-width: 100%;
        }
      }
    }
  }
}
.home--jointDesign {
  background: center/cover no-repeat url(../images/index-bg.png);
  text-align: center;
  padding: 80px 0;
  h2 {
    @include h2(48px, #fff, 48px);
  }
  &_list {
    display: flex;
  }
  li {
    min-width: 50%;
  }
  &_double {
    background: center/cover no-repeat url(../images/home-section4-1.png);
    width: 100%;
    min-height: 240px;
  }
  &_youth {
    background: center/cover no-repeat url(../images/home-section4-2.png);
    width: 100%;
    min-height: 240px;
  }
  h3 {
    @include h3(48px, $primary, italic, 0);
    padding: 8px 0;
    background-color: #fff;
  }
  @include tab {
    background: top/cover no-repeat url(../images/index-bg-sm.png);
    &_list {
      flex-direction: column;
      gap: 24px;
    }
  }
  @include phone {
    background: center/cover no-repeat url(../images/index-bg-sm.png);
    padding: 40px 0;
    h2 {
      @include h2(24px, #fff, 24px);
    }
    &_double {
      background: center/cover no-repeat url(../images/home-section4-1-sm.png);
    }
    &_youth {
      background: center/cover no-repeat url(../images/home-section4-2-sm.png);
    }
  }
}
.home--recommend {
  padding: 80px 0;
  h2 {
    @include h2(48px, $secorday, 48px);
    text-align: center;
  }
  &-list {
    display: flex;
    gap: 24px;
    li {
      width: 25%;
    }
  }
  img {
    height: 306px;
  }
  &-name {
    @include home--recommend-name;
  }
  @include tab {
    &-list {
      flex-wrap: wrap;
      li {
        width: 48.3%;
      }
    }
    img {
      width: 100%;
    }
  }
  @include phone {
    padding: 40px 0;
    h2 {
      @include h2(24px, $secorday, 24px);
    }
    &-list {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
  }
}
.home--contact {
  background-color: $pink;
  padding: 80px 0;

  h2 {
    @include h2(48px, $secorday, 48px);
    text-align: center;
  }
  p {
    margin-bottom: 24px;
  }
  &-form {
    margin: 0 auto;
    width: 50%;
    &-send {
      text-align: center;
      a {
        display: inline-block;
        margin-top: 48px;
        background-color: $primary;
        color: #fff;
        padding: 16px 176px;
        border: none;
        font-size: 64;
        &:hover {
          background-color: $secorday;
        }
      }
    }
  }
  @include tab {
    h2 {
      @include h2(48px, $secorday, 24px);
    }
    &-form {
      width: 77.42%;
      &-send {
        a {
          padding: 16px 136px;
        }
      }
    }
  }
  @include phone {
    padding: 40px 0;

    h2 {
      @include h2(24px, $secorday, 24px);
    }
    &-form {
      width: 100%;
      &-send {
        a {
          margin-top: 24px;
          padding: 16px 142px;
        }
      }
    }
  }
}
