.frame--nav {
  &_list {
    li {
      width: 34%;
      text-align: center;
      border-top: 1px solid #dcdcdc;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }
    li:first-child {
      a {
        border-bottom: 8px solid $primary;
      }
    }
    a {
      font-size: 32px;
      display: block;
      color: #000;
      padding: 24px 0 16px 0;
      border-bottom: 8px solid #fff;
      &:hover {
        border-bottom: 8px solid $primary;
      }
    }
  }

  @include tab {
    @include px-0;

    a {
      font-size: 24px;
      padding: 16px 0px 8px 0px;
    }
  }

  @include phone {
    a {
      font-size: 16px;
    }
  }
}

.frame--banner {
  &_glasses {
    width: 50%;
    min-height: 296px;
    background: center/cover no-repeat url(../images/product-header-1.png);
  }

  &_girl {
    width: 50%;
    min-height: 296px;
    background: center/cover no-repeat url(../images/product-header-2.png);
  }

  @include tab {
    @include px-0;

    &_glasses {
      background: center/cover no-repeat url(../images/product-header-sm-1.png);
    }

    &_girl {
      background: center/cover no-repeat url(../images/product-header-sm-2.png);
    }
  }

  @include phone {
    &_glasses {
      min-height: 136px;
      // 請問這邊的高度要怎麼使用百分比顯示呢?
    }

    &_girl {
      min-height: 136px;
      // 請問這邊的高度要怎麼使用百分比顯示呢?
    }
  }
}

.frame--product {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 80px;

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  &_list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 24px;
    li {
      width: 23.61%;
    }
  }

  &_name {
    @include df-jcsb;
    font-size: 24px;
    text-align: left;

    p {
      font-size: 24px;
      color: $primary;
    }
  }

  @include tab {
    &_list {
      justify-content: center;
      gap: 40px 24px;

      li {
        width: 48.27%;
      }

      li:nth-child(11),
      li:nth-child(12) {
        display: none;
      }
      img {
        width: 100%;
      }
    }
  }

  @include phone {
    padding: 40px 0;
    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 24px;
    }

    &_list {
      flex-direction: column;
      gap: 24px;

      li {
        width: 100%;
      }
      li:nth-child(6),
      li:nth-child(7),
      li:nth-child(8),
      li:nth-child(9),
      li:nth-child(10) {
        display: none;
      }
    }
  }
}
