.taipei--stronghold {
  padding: 40px 12px 80px 12px;
  gap: 24px;
  &_item {
    width: 40.58%;
    flex-direction: column;
    img {
      min-height: 224px;
    }
  }
  &_name {
    border: 1px solid #dee2e6;
    h3 {
      font-size: 24px;
      padding: 8px 0 8px 24px;
    }
  }
  &_contact {
    padding: 16px 24px 16px 24px;
    border-top: 1px solid #dee2e6;
    li {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }
  &_map {
    width: 57.56%;
    min-height: 414px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  @include tab {
    padding: 42px 36px 80px 36px;
    flex-wrap: wrap;
    &_item {
      width: 100%;
      flex-direction: row;
      gap: 0 24px;
      img {
        width: 46.66%;
      }
    }

    &_map {
      width: 100%;
    }
  }
  @include phone {
    padding: 24px 12px 64px 12px;
    &_item {
      width: 100%;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 576px) {
    &_map {
      min-height: 208px;
    }
  }
}
