.store--stronghold {
  padding: 40px 0px 80px 0px;
  &_cards {
    flex-wrap: wrap;
    gap: 80px 24px;
  }
  &_list {
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    //問題四
    img {
      min-height: 224px;
      object-fit: cover;
    }
  }
  &_item {
    border: 1px solid #dee2e6;
    h3 {
      font-size: 24px;
      padding: 8px 0 8px 24px;
    }
  }

  &_contact {
    padding: 16px 24px 16px 24px;
    border-top: 1px solid #dee2e6;

    li {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  &_icon {
    font-size: 24px;
    margin-right: 8px;
    padding: 3px;
  }

  &_link {
    border: 1px solid #dee2e6;

    a {
      text-align: center;
      display: block;
      padding: 12px 0;
      background-color: #000;
      font-size: 19px;
      &:hover {
        color: $primary;
      }
    }
  }
  @include tab {
    &_list {
      width: 48.27%;
    }
  }
  @include phone {
    padding: 24px 0px 64px 0px;
    &_list {
      width: 100%;
    }
  }
}
