<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>index</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <section class="home--banner">
      <div class="container">
        <p>Promise-Desert 2020 早春系列</p>
        <h2>看得清，才能看得遠</h2>
        <a href="#">立即購買</a>
      </div>
    </section>
    <section class="home--major">
      <div class="container">
        <h3>用專業的心，做專業的事</h3>
        <ul class="home--major_list d-f">
          <li>
            <img
              src="../assets/images/home-section2-1.png"
              alt="paid"
              class="home--major_list_img"
            />
            <h4>單一價格</h4>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <img
              src="../assets/images/home-section2-2.png"
              alt="schedule"
              class="home--major_list_img"
            />
            <h4>20 分鐘即可取件</h4>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li>
            <img
              src="../assets/images/home-section2-3.png"
              alt="favorite_border"
              class="home--major_list_img"
            />
            <h4>安心售後服務</h4>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li>
            <img
              src="../assets/images/home-sectioin2-4.png"
              alt="voicemail"
              class="home--major_list_img"
            />
            <h4>關於鏡片</h4>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="home--classic">
      <div class="container">
        <h3>經典系列鏡框</h3>
        <ul class="home--classic_list d-f">
          <li>
            <a href="#">
              <img
                src="../assets/images/home-section3-1.png"
                alt="OPTICAL_img"
              />
              <h4>OPTICAL</h4>
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../assets/images/home-section3-2.png"
                alt="SUNGLASSES_img"
              />
              <h4>SUNGLASSES</h4>
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../assets/images/home-section3-3.png"
                alt="FUNCTIONAL_img"
              />
              <h4>FUNCTIONAL</h4>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="home--jointDesign">
      <div class="container">
        <h3>聯名設計鏡框</h3>
        <ul class="home--jointDesign_list d-f">
          <li>
            <a href="#">
              <p class="home--jointDesign_double"></p>
              <h4>DOUBLE A+</h4>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="home--jointDesign_youth"></p>
              <h4>YOUTH</h4>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="home--recommend">
      <div class="container">
        <h3>顧客推薦</h3>
        <ul class="home--recommend-list d-f">
          <li>
            <a href="#">
              <img src="../assets/images/home-section5-1.png" alt="Jessy" />
              <div class="home--recommend-name">
                <div class="home--recommend-name-comtain">
                  <h4>Jessy</h4>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <time>2021/06/20</time>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/home-section5-2.png" alt="凱倫" />
              <div class="home--recommend-name">
                <div class="home--recommend-name-comtain">
                  <h4>凱倫</h4>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                </div>
                <time>2021/04/18</time>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/home-section5-3.png" alt="悠悠" />
              <div class="home--recommend-name">
                <div class="home--recommend-name-comtain">
                  <h4>悠悠</h4>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <time>2020/12/25</time>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/home-section5-4.png" alt="Kyuan" />
              <div class="home--recommend-name">
                <div class="home--recommend-name-comtain">
                  <h4>Kyuan</h4>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <time>2020/10/31</time>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="home--contact">
      <div class="container">
        <h3>聯絡我們</h3>
        <div class="home--contact-form">
          <p>
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form name="contact">
            <div class="home--contact-form-name">
              <label for="name">姓名</label>
              <input
                class="input"
                type="text"
                id="name"
                name="name"
                placeholder="陳小明"
              />
            </div>
            <div class="home--contact-form-list">
              <label for="phone">聯絡電話</label>
              <input
                class="input"
                type="tel"
                id="phone"
                name="phone"
                placeholder="0912-345-678"
              />
            </div>
            <div class="home--contact-form-list">
              <label for="email">電子郵件</label>
              <input
                class="input"
                type="email"
                id="email"
                name="email"
                placeholder="example@email.com"
              />
            </div>
            <div class="home--contact-form-list">
              <label for="opinion">意見反應</label>
              <textarea
                class="input opinion"
                id="opinion"
                name="opinion"
                placeholder="請輸入您的意見"
              >
              </textarea>
            </div>
            <div class="home--contact-form-list d-f">
              <input type="checkbox" id="checkboxs" name="checkbox" checked />
              <label for="checkboxs" class="checkbox-la">
                我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>
            <div class="home--contact-form-send">
              <a href="#" class="home--contact-form-link">確認送出</a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
