<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>series_frame</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <nav>
      <div class="container frame--nav">
        <ul class="frame--nav_list d-f">
          <li><a href="series_frame.html">OPTICAL</a></li>
          <li><a href="series_frame_sunglasses.html">SUNGLASSES</a></li>
          <li><a href="#">FUNCTIONAL</a></li>
        </ul>
      </div>
    </nav>
    <div class="frame--banner">
      <ul class="frame--banner_list d-f">
        <li class="frame--banner_glasses"></li>
        <li class="frame--banner_girl"></li>
      </ul>
    </div>
    <section class="frame--product">
      <div class="container p-3">
        <h2>Celluloid Combi</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
        <ul class="frame--product_list d-f">
          <li>
            <img src="../assets/images/product-1.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-2.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-3.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-4.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-5.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-6.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-1.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-2.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-3.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-4.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-5.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
          <li>
            <img src="../assets/images/product-6.png" alt="BJ41600S" />
            <div class="frame--product_name">
              <div>
                <h4>BJ41600S</h4>
                <span class="product-bd"></span>
                <span class="product-bl"></span>
              </div>
              <p>NTD3,490</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <div class="container">
      <ul class="block--button d-f">
        <li class="button-p-se"><a href="#">上一頁</a></li>
        <li class="button-p"><a href="#">1</a></li>
        <li class="button-p"><a href="#">2</a></li>
        <li class="button-p"><a href="#">3</a></li>
        <li class="button-p"><a href="#">4</a></li>
        <li class="button-p"><a href="#">5</a></li>
        <li class="button-p-se"><a href="#">下一頁</a></li>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
