<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>store_stronghold</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="page--title">
      <div class="container page--title-h2">
        <h2>門市據點</h2>
      </div>
    </section>
    <div class="page--select_area">
      <div class="container">
        <form class="d-f">
          <label for="area">選擇地區</label>
          <select id="area">
            <option>台北地區</option>
            <option>台中地區</option>
            <option>高雄地區</option>
            <!-- 請問下拉是選單不能用placeholder屬性嗎?-->
            <!-- 旁邊的小三角形不太懂要怎麼製作 -->
          </select>
        </form>
      </div>
    </div>
    <section class="store--stronghold">
      <div class="container store--stronghold_cards d-f">
        <div class="store--stronghold_list d-f">
          <img src="../assets/images/store-1.png" alt="store_img" />
          <div class="store--stronghold_item">
            <h3>台北中山旗艦店</h3>
            <ul class="store--stronghold_contact">
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  call
                </span>
                電話：(02)000-1234
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  schedule
                </span>
                營業時間：10:00-21:00
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  room </span
                >地址：台北市中山區南京東路25巷2-1號
              </li>
            </ul>
          </div>
          <div class="store--stronghold_link">
            <a href="store_taipei.html">詳細資訊</a>
          </div>
        </div>
        <div class="store--stronghold_list d-f">
          <img src="../assets/images/store-2.png" alt="store_img" />
          <div class="store--stronghold_item">
            <h3>台北綠園店</h3>
            <ul class="store--stronghold_contact">
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  call
                </span>
                電話：(02)000-2345
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  schedule
                </span>
                營業時間：10:00-21:00
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  room </span
                >地址：台北市中正區復興南路 132-1 號
              </li>
            </ul>
          </div>
          <div class="store--stronghold_link">
            <a href="store_taipei.html">詳細資訊</a>
          </div>
        </div>
        <div class="store--stronghold_list d-f">
          <img src="../assets/images/store-3.png" alt="store_img" />
          <div class="store--stronghold_item">
            <h3>台中清水旗艦店</h3>
            <ul class="store--stronghold_contact">
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  call
                </span>
                電話：(02)000-1234
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  schedule
                </span>
                營業時間：10:00-21:00
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  room </span
                >地址：台中市清水區經南一路 23 號 8 樓
              </li>
            </ul>
          </div>
          <div class="store--stronghold_link">
            <a href="store_taipei.html">詳細資訊</a>
          </div>
        </div>
        <div class="store--stronghold_list d-f">
          <img src="../assets/images/store-4.png" alt="store_img" />
          <div class="store--stronghold_item">
            <h3>高雄中正形象店</h3>
            <ul class="store--stronghold_contact">
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  call
                </span>
                電話：(07)000-2345
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  schedule
                </span>
                營業時間：10:00-21:00
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  room </span
                >地址：高雄市苓雅區中正路 38 號 12 樓
              </li>
            </ul>
          </div>
          <div class="store--stronghold_link">
            <a href="store_taipei.html">詳細資訊</a>
          </div>
        </div>
        <div class="store--stronghold_list d-f">
          <img src="../assets/images/store-5.png" alt="store_img" />
          <div class="store--stronghold_item">
            <h3>高雄夢時代店</h3>
            <ul class="store--stronghold_contact">
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  call
                </span>
                電話：(02)000-1234
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  schedule
                </span>
                營業時間：10:00-21:00
              </li>
              <li class="d-f">
                <span class="store--stronghold_icon material-icons-outlined">
                  room </span
                >地址：高雄市前鎮區中華一路 63 號 6 樓
              </li>
            </ul>
          </div>
          <div class="store--stronghold_link">
            <a href="store_taipei.html">詳細資訊</a>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
