<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>store_stronghold</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="taipei--title">
      <div class="container taipei--title-h2">
        <h2>門市據點</h2>
      </div>
    </section>
    <div class="taipei--select_area">
      <div class="container">
        <form class="d-f">
          <label for="area">選擇地區</label>
          <select id="area">
            <option>台北地區</option>
            <!-- 請問下拉是選單不能用placeholder屬性嗎?-->
            <!-- 旁邊的小三角形不太懂要怎麼製作 -->
          </select>
        </form>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
